<a href="https://colab.research.google.com/github/DiaIzd/175IC-machine-learning./blob/main/ZAD2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import numpy as np
import pandas as pd
import sklearn
# from sklearn.model_selection import train_test_split
dataClothes = {
    'size':['XXS','XS','S','M','M','L','L','XL','XL',np.nan,'XXL','XXXL','XXXL'],
    'color':['BLACK','WHITE',np.nan,np.nan,'BLUE','BROWN','PURPLE',np.nan,'PINK','DARKBLUE',np.nan,'GRAY','VIOLET'],
    'gender':[np.nan,np.nan,np.nan,'FEMALE',np.nan,'FEMALE','MALE','FEMALE','MALE','FEMALE','MALE','FEMALE','MALE'],
    'price':[60.0,65.0,70.0,75.0,80.0,85.0,90.0,np.nan,100.0,np.nan,np.nan,115.0,np.nan],
    'weight':[150,170,190,np.nan,230,250,270,290,310,330,350,370,390],
    'bought':['YES', 'YES','NO','NO','YES','NO','YES','YES','YES','NO','YES','NO','NO']
}
df_raw = pd.DataFrame(data=dataClothes)
df = df_raw.copy()
#1.	pomiń dane, które mają 3 lub więcej pustych wartości
df.dropna(thresh = (len(df.keys())-2), inplace=True)
print(df)
#2.	wypełnij puste miejsca w kolumnie price wartością średnią
df['price'].fillna(df['price'].mean(), inplace=True)
print(df)
 #3.	wypełnij puste miejsca w kolumnie weight za pomocą interpolacji
df['weight'].fillna(df['weight'].interpolate(), inplace=True)
print(df)
 #4.	wypełnij puste miejsca w kolumnie size, color i gender wartościami stałymi
 # (np. unisex, black, male)
df['size'].fillna('unisize', inplace=True)
df['color'].fillna('black', inplace=True)
df['gender'].fillna('male', inplace=True)
print(df)
#5.	dodaj do słownika kolumnę cost, która reprezentuje cenę jako jedną z klas: cheap, normal_price, 
#expensive; podziału ceny na te klasy dokonaj automatycznie (argument bins metody pandas.cut)
df['cost'] = pd.cut(df['price'], bins = 3, labels=('cheap', 'normal_price', 'expensive'))
df
#6.	dostosuj dane do modelu tak, by przedstawiały wartość binarną 
#(np. bought: [‘YES’, ‘NO’, ‘YES’] na bought_YES: [1,0,1])
df['bought_YES'] = df['bought'].apply(lambda x: 1 if 'YES' in x else 0)
df
#7.	podziel słownik na dane wejściowe i
# wartość wyjściową, a następnie podziel na zbiór uczący i testujący
# df1=df[['price','cost']],
# df2=df['bought_YES']
# X_train, X_test, y_train, y_test = train_test_split(df1, df2, train_size = 0.5)

    size     color  gender  price  weight bought
0    XXS     BLACK     NaN   60.0   150.0    YES
1     XS     WHITE     NaN   65.0   170.0    YES
2      S       NaN     NaN   70.0   190.0     NO
3      M       NaN  FEMALE   75.0     NaN     NO
4      M      BLUE     NaN   80.0   230.0    YES
5      L     BROWN  FEMALE   85.0   250.0     NO
6      L    PURPLE    MALE   90.0   270.0    YES
7     XL       NaN  FEMALE    NaN   290.0    YES
8     XL      PINK    MALE  100.0   310.0    YES
9    NaN  DARKBLUE  FEMALE    NaN   330.0     NO
10   XXL       NaN    MALE    NaN   350.0    YES
11  XXXL      GRAY  FEMALE  115.0   370.0     NO
12  XXXL    VIOLET    MALE    NaN   390.0     NO
    size     color  gender       price  weight bought
0    XXS     BLACK     NaN   60.000000   150.0    YES
1     XS     WHITE     NaN   65.000000   170.0    YES
2      S       NaN     NaN   70.000000   190.0     NO
3      M       NaN  FEMALE   75.000000     NaN     NO
4      M      BLUE     NaN   80.000000   230.0    YES
5      L     BROWN  FEMALE   85.000000   250.0     NO
6      L    PURPLE    MALE   90.000000   270.0    YES
7     XL       NaN  FEMALE   82.222222   290.0    YES
8     XL      PINK    MALE  100.000000   310.0    YES
9    NaN  DARKBLUE  FEMALE   82.222222   330.0     NO
10   XXL       NaN    MALE   82.222222   350.0    YES
11  XXXL      GRAY  FEMALE  115.000000   370.0     NO
12  XXXL    VIOLET    MALE   82.222222   390.0     NO
    size     color  gender       price  weight bought
0    XXS     BLACK     NaN   60.000000   150.0    YES
1     XS     WHITE     NaN   65.000000   170.0    YES
2      S       NaN     NaN   70.000000   190.0     NO
3      M       NaN  FEMALE   75.000000   210.0     NO
4      M      BLUE     NaN   80.000000   230.0    YES
5      L     BROWN  FEMALE   85.000000   250.0     NO
6      L    PURPLE    MALE   90.000000   270.0    YES
7     XL       NaN  FEMALE   82.222222   290.0    YES
8     XL      PINK    MALE  100.000000   310.0    YES
9    NaN  DARKBLUE  FEMALE   82.222222   330.0     NO
10   XXL       NaN    MALE   82.222222   350.0    YES
11  XXXL      GRAY  FEMALE  115.000000   370.0     NO
12  XXXL    VIOLET    MALE   82.222222   390.0     NO
       size     color  gender       price  weight bought
0       XXS     BLACK    male   60.000000   150.0    YES
1        XS     WHITE    male   65.000000   170.0    YES
2         S     black    male   70.000000   190.0     NO
3         M     black  FEMALE   75.000000   210.0     NO
4         M      BLUE    male   80.000000   230.0    YES
5         L     BROWN  FEMALE   85.000000   250.0     NO
6         L    PURPLE    MALE   90.000000   270.0    YES
7        XL     black  FEMALE   82.222222   290.0    YES
8        XL      PINK    MALE  100.000000   310.0    YES
9   unisize  DARKBLUE  FEMALE   82.222222   330.0     NO
10      XXL     black    MALE   82.222222   350.0    YES
11     XXXL      GRAY  FEMALE  115.000000   370.0     NO
12     XXXL    VIOLET    MALE   82.222222   390.0     NO

       size     color  gender  ...  bought          cost bought_YES
0       XXS     BLACK    male  ...     YES         cheap          1
1        XS     WHITE    male  ...     YES         cheap          1
2         S     black    male  ...      NO         cheap          0
3         M     black  FEMALE  ...      NO         cheap          0
4         M      BLUE    male  ...     YES  normal_price          1
5         L     BROWN  FEMALE  ...      NO  normal_price          0
6         L    PURPLE    MALE  ...     YES  normal_price          1
7        XL     black  FEMALE  ...     YES  normal_price          1
8        XL      PINK    MALE  ...     YES     expensive          1
9   unisize  DARKBLUE  FEMALE  ...      NO  normal_price          0
10      XXL     black    MALE  ...     YES  normal_price          1
11     XXXL      GRAY  FEMALE  ...      NO     expensive          0
12     XXXL    VIOLET    MALE  ...      NO  normal_price          0

[13 rows x 8 columns]